* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
    padding: 40px 0;
  }
  
  p {
    font-size: 1rem;
    margin: 20px 0;
    font-style: italic;
  }
  
  /* wrapper principal */
  
  #wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(250px, auto);
    height: 100vh;
    grid-gap: 10px;
  }
  
  .box {
    padding: 30px;
  
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .box img {
    width: 90px;
    display: block;
    margin: 0 auto;
  }
  
  .box-1 {
    grid-column: 1/4;
    grid-row: 1;
    background-color: #000;
    text-align: center;
  }
  
  .box-1 span {
    color: #a1e1e1;
  }
  
  .box-2 {
    grid-column: 4/5;
    grid-row: 1;
    background-color: #1c448f;
  }
  .box-3 {
    grid-column: 5/6;
    grid-row: 1;
    background: url(images/bk-3.jpg);
  }
  
  .box-4 {
    grid-column: 1;
    grid-row: 2;
    background: url(images/bk-2.jpg);
  }
  
  .box-5 {
    grid-column: 2;
    grid-row: 2;
    background: #3776d2;
  }
  
  .box-6 {
    grid-column: 3;
    grid-row: 2;
    background: #a1e1e1;
  }
  
  .box-7 {
    grid-column: 4;
    grid-row: 2;
    background: url(images/bk-3.jpg);
  }
  
  .box-8 {
    grid-column: 5;
    grid-row: 2;
    background: red;
    color: white;
  }
  
  .box-9 {
    grid-column: 1/3;
    grid-row: 3;
    background: url(images/bk-4.jpg);
    color: white;
  }
  
  .box-10 {
    grid-column: 3;
    grid-row: 3;
    background: #1c488f;
    color: white;
  }
  
  .box-11 {
    grid-column: 4/6;
    grid-row: 3;
    background: url(images/bk-5.jpg);
    color: white;
  }

  .box-3, .box-4, .box-7, .box-9, .box-11{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  
  @media only screen and (max-width: 1440px) {

    
    #wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4,1fr);
        /* grid-auto-rows: minmax(250px, auto); */
        height: 100vh;
        grid-gap: 10px;
      }
      

    .box-1 {
        grid-column: 1/5;
        grid-row: 1;
        background-color: #000;
        text-align: center;
      }
      

      
  .box-2 {
    grid-column: 1/2;
    grid-row: 2;
    background-color: #1c448f;
  }


  .box-3 {
    grid-column: 2/3;
    grid-row: 2;
    background: url(images/bk-3.jpg);
  }
  
  .box-4 {
    grid-column: 3/4;
    grid-row: 2;
    background: url(images/bk-2.jpg);
  }
  
  .box-5 {
    grid-column: 4/5;
    grid-row: 2;
    background: #3776d2;
  }
  
  .box-6 {
    grid-column: 1/2;
    grid-row: 3;
        background: #a1e1e1;
  }
  
  .box-7 {
    grid-column: 2/3;
    grid-row: 3;
    background: url(images/bk-3.jpg);
  }
  
  .box-8 {
    grid-column: 3/4;
    grid-row: 3;
    background: red;
    color: white;
  }
  
  .box-9 {
    grid-column: 4/5;
    grid-row: 3;
    background: url(images/bk-4.jpg);
    color: white;
  }
  
  .box-10 {
    grid-column: 1/2;
    grid-row: 4;
    background: #1c488f;
    color: white;
  }
  
  .box-11 {
    grid-column: 2/5;
    grid-row: 4;
    background: url(images/bk-5.jpg);
    color: white;
  }

  }

  
  @media only screen and (max-width: 768px) {

    #wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5,1fr);
        /* grid-auto-rows: minmax(250px, auto); */
        height: 100vh;
        grid-gap: 10px;
      }
      

    .box-1 {
        grid-column: 1/4;
        grid-row: 1;
        background-color: #000;
        text-align: center;
      }
      

      
  .box-2 {
    grid-column: 1/2;
    grid-row: 2;
    background-color: #1c448f;
  }


  .box-3 {
    grid-column: 2/3;
    grid-row: 2;
    background: url(images/bk-3.jpg);
  }
  
  .box-4 {
    grid-column: 3/4;
    grid-row: 2;
    background: url(images/bk-2.jpg);
  }
  
  .box-5 {
    grid-column: 1/2;
    grid-row: 3;
    background: #3776d2;
  }
  
  .box-6 {
    grid-column: 2/3;
    grid-row: 3;
    background: #a1e1e1;
  }
  
  .box-7 {
    grid-column: 3/4;
    grid-row: 3;
    background: url(images/bk-3.jpg);
  }
  
  .box-8 {
    grid-column: 1/2;
    grid-row: 4;
    background: red;
    color: white;
  }
  
  .box-9 {
    grid-column: 2/3;
    grid-row: 4;
    background: url(images/bk-4.jpg);
    color: white;
  }
  
  .box-10 {
    grid-column: 3/4;
    grid-row: 4;
    background: #1c488f;
    color: white;
  }
  
  .box-11 {
    grid-column: 1/4;
    grid-row: 5;
    background: url(images/bk-5.jpg);
    color: white;
  }

  }
    



  @media only screen and (max-width: 320px) {
    
    #wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(11,1fr);
        /* grid-auto-rows: minmax(250px, auto); */
        height: 100vh;
        grid-gap: 10px;
      }
      

    .box-1 {
        grid-column: 1;
        grid-row: 1;
        background-color: #000;
        text-align: center;
      }
      

      
  .box-2 {
    grid-column: 1;
    grid-row: 2;
    background-color: #1c448f;
  }


  .box-3 {
    grid-column: 1;
    grid-row: 3;
    background: url(images/bk-3.jpg);
  }
  
  .box-4 {
    grid-column: 1;
    grid-row: 4;
    background: url(images/bk-2.jpg);
  }
  
  .box-5 {
    grid-column: 1;
    grid-row: 5;
    background: #3776d2;
  }
  
  .box-6 {
    grid-column: 1;
    grid-row: 6;
    background: #a1e1e1;
  }
  
  .box-7 {
    grid-column: 1;
    grid-row: 7;
    background: url(images/bk-3.jpg);
  }
  
  .box-8 {
    grid-column: 1;
    grid-row: 8;
    background: red;
    color: white;
  }
  
  .box-9 {
    grid-column: 1;
    grid-row: 9;
    background: url(images/bk-4.jpg);
    color: white;
  }
  
  .box-10 {
    grid-column: 1;
    grid-row: 10;
    background: #1c488f;
    color: white;
  }
  
  .box-11 {
    grid-column: 1;
    grid-row: 11;
    background: url(images/bk-5.jpg);
    
    color: white;
  }


    }